* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg: hsl(233, 47%, 7%);
  --card-bg: hsl(244, 37%, 16%);
  --accent: hsla(277, 64%, 61%, 0.65);
  --primary-text: hsl(0, 0%, 100%);
  --secondary-text: hsla(0, 0%, 100%, 0.75);
  --stat-text: hsla(0, 0%, 100%, 0.6);
}

body,
html {
  width: 100vw;
  height: 100vh;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: var(--main-bg);
  color: var(--stat-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main.card {
  margin: auto 0;
  width: 19rem;
  background-color: var(--card-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  border-radius: 0 0 0.8rem 0.8rem;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

.illustration {
  background-image: linear-gradient(var(--accent)),
    url("images/image-header-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 14rem;
  border-radius: 0.8rem 0.8rem 0 0;
}
.title {
  color: var(--primary-text);
  font-size: 1.5rem;
  width: calc(100% - 4rem);
}
.highlight {
  color: var(--accent);
}
.description {
  font-size: 0.9rem;
  width: calc(100% - 3rem);
  line-height: 1.6;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.stats > p {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 0.7rem;
}
.low {
  text-transform: none;
}

.numbers {
  color: var(--primary-text);
  font-weight: 600;
  font-size: 1.4rem;
}

.attribution {
  font-size: 0.65rem;
  text-align: center;
  background-color: var(--accent);
  width: 100vw;
}
.attribution a {
  color: var(--card-bg);
}

@media (min-width: 50rem) {
  main.card {
    flex-direction: row-reverse;
    width: 50rem;
    border-radius: 1rem;
    margin: auto;
    text-align: left;
    gap: 3rem;
  }

  .illustration {
    width: 23.5rem;
    height: 100%;
    background-image: linear-gradient(var(--accent)),
      url("images/image-header-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0 1rem 1rem 0;
  }
  .title {
    font-size: 1.7rem;
  }
  .information {
    width: 23.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .stats {
    font-size: large;
  }

  .description {
    font-size: small;
  }

  .stats {
    flex-direction: row;
    gap: 2rem;
  }

  .stats > p {
    font-size: 0.6rem;
  }
  .numbers {
    font-size: 1rem;
  }
}
